@model Database_First.Models.Emprunter

@{
    ViewData["Title"] = "Edit";
}
 

<h4>Emprunter</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdE" />
            <div class="form-group">
                <label  class="control-label"> Id- Membre</label>
                <select asp-for="IdM" class="form-control" asp-items="ViewBag.IdM"></select>
                <span asp-validation-for="IdM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"> Id- Livre</label>
                <select asp-for="IdL" class="form-control" asp-items="ViewBag.IdL"></select>
                <span asp-validation-for="IdL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Date de prêt</label>
                <input asp-for="DateEmp" class="form-control" />
                <span asp-validation-for="DateEmp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Date de retour</label>
                <input asp-for="DateRetour" class="form-control" />
                <span asp-validation-for="DateRetour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sauvegarder" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<span>
    <a asp-action="Index">
        <i class="fas fa-arrow-circle-left fa-4x"> </i>

    </a>
</span>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
