@{
    ViewBag.Title = "À propos de";
}
<link rel="stylesheet" href="~/css/home.css" />




<div class="propos">
    <h3>@ViewBag.Title </h3>
    <p>
        Créée en 2014, la Bibliothèque  est une initiative du Centre de la francophonie.
        Elle est accessible à ses membres gratuitement
    </p>


    <p>
        <strong>  La mission de la Bibliothèque consiste à assurer à ses usagers :</strong> <br />

        un accès à distance rapide et efficace à de l’information et de la documentation valables et pertinentes;
        la disponibilité et l’utilisation en ligne des meilleures ressources leur permettant de parfaire leurs connaissances et d’améliorer leurs compétences informationnelles;
        une gamme de services et d’aide accessibles directement en ligne, incluant l’assistance et l’aide à la recherche documentaire;
        le soutien d’une équipe compétente.
    </p>

</div>