@{
    ViewBag.Title = "Contact";
}


<link rel="stylesheet" href="~/css/home.css" />




<div class="row ">

    <div class="col-md-6 ">
        <h2>@ViewBag.Title </h2>

        <h3>
            Nous sommes là pour vous aider
        </h3>
        <div class="contact">
            <address>

                GPLCC<br />
                9155 Rue St-Hubert, Montréal, QC H2M 1Y8<br />

                <i class="fas fa-phone"></i> 188-234-9000 <br />

                Partout au Québec, sans frais
                24 heures sur 24, 7 jours sur 7

            </address>

            <address>
                <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@gplcc.com</a><br />
                <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@gplcc.com</a>
            </address>
        </div>
    </div>
    <div class="col-md-6">
        <h2>
            Comment s'y rendre
        </h2>

        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d89378.52401839933!2d-73.72685413555908!3d45.56885242375762!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcd8d5a1783ed76c8!2sColl%C3%A8ge%20Ahuntsic!5e0!3m2!1sfr!2sca!4v1620594229104!5m2!1sfr!2sca" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        <br />
    </div>
</div>






