body {
    background-color: black;
    background-image: url(../images/Em.jpg);
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.divlistprets {
    background-color: white;
}

th {
    color: white;
}

td {
    color: white;
}

#ajouterbtn {
    color: black;
}

#titre1 {
    background-color: white;
}